/*global*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

/*header*/

header{
    height: 60px;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(38, 70, 83);
    top: 0;
    z-index: 1;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-left: 1rem;
}

header nav li{
    display: inline;
    font-size: 2rem;
    list-style: none;
    margin-left: 1.5rem;
}

header span img{
    height: 4rem;
}

.header__antiflex{
    height: 60px;
    width: 100%;
    background-color: rgba(38, 70, 83, 0.9);
}

/*header*/

/*slogan index*/
#slogan{
    text-align: center;
    font-size: 2.5rem;
    margin: 60px 0px;
}

#slogan blockquote {
    margin-top: 10px;
}
/*slogan index*/

/*descripciones*/

.div__descripciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    font-size: 2.5rem;
    background-color: rgba(38, 70, 83, 0.9);
    width: 100%;
    margin: 30px 0rem;
    margin-right: 20px;
}

#descripcionesProductos img{
    height: 4rem;
    padding: 3rem;
    margin: 7rem;
}

/*descripciones*/

/*productos*/

#productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    font-size: 2rem;
}

#productos div ul li{
    margin: 10px 0px 10px 20px;
}

.div__productos{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    align-items: centrar;
    width: 25%;
    list-style: none;
}

.div__productos--container{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    background-color: rgb(42, 157, 143);
    padding: 5px;
}

/*productos*/

/*footer*/

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(42, 157, 143);
    width: 100%;
    height: 70px;
    margin-top: 70px;
    margin-right: 20px;
    border: 0ch;
}

/*footer*/

/*contacto*/

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 70, 83);
    font-size: 1.5rem;
    margin-top: 30px;
}

.section__p--modificador{
    font-size: 2rem;
    text-align: center;
    margin: 20px 0px;
}

/*contacto*/

/*Mas informacion*/


#informacion{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 20px 10px;
}

#ubicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;
}

#ubicacion iframe{
    height: 400px;
    width: 400px;
}

#video div iframe{
    margin: 20px 40px;
    height: 400px;
    width: 400px;
}

#video{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    background-color: rgb(38, 70, 83);
}